# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

test-results/
playwright-report/
src/components/VesselList (refactored).vue
src/components/GoogleMapsComponents/CreateVesselDialogue.vue
src/components/GoogleMapsComponents/EditVesselDialogue.vue
src/components/GoogleMapsComponents/MapComponent.vue
src/components/VesselListComponents/VesselCard.vue
src/components/VesselListComponents/VesselControls.vue
src/components/VesselListComponents/VesselCreateForm.vue
src/components/VesselListComponents/VesselEditForm.vue
src/components/VesselListComponents/VesselListEmpty.vue
src/views/GoogleMapsView (refactored).vue
src/modules/useVesselManagement.ts
src/modules/usePolling.ts
src/api/googleApiKey.txt
